			<script language="JavaScript">
				$(document).ready(function()
				{
					//load song on click
					$('#tracks a').click(function() {
						var uri = '/api/stream/' + $(this).attr('id');
						play_song(uri)
					})
				});
			</script>

			<div class="grid_12 main">
				<h2>${album['title']} <small>${artist['name']}</small></h2>
				<h3>Tracks:</h3>
				<ol id="tracks">
				% for track in tracks:
					<li><a href='#' id='${track['id']}' class="song_link">${track['title']}</a></li>
				% endfor
				</ol>

			</div>
			<div class="clear"></div>