			<script language="JavaScript">
				$(document).ready(function()
				{
					//load song on click
					$('#tracks a').click(function() {
						play_uri('/api/stream/track/' + $(this).attr('class'))
					})
				});
			</script>

			<div class="grid_12 main">
				<h1>${album['title']}</h1>
				<h2>${artist['name']}</h2>
				<h3>Tracks:</h3>
				<ol id="tracks">
				% for track in tracks:
					<li><a href='#' class='${track['id']}'>${track['title']}</a></li>
				% endfor
				</ol>

			</div>
			<div class="clear"></div>