<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Musik Backbone.js App</title>
        <meta name="author" content="MusikPolice">
        <meta name="description" content="A backbone.js powered implementation of Musik">

        <link rel="stylesheet" href="/static/styles/reset.css" />
        <link rel="stylesheet" href="/static/styles/backbone.css" />

        <script type="application/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
        <script type="application/javascript" src="/static/js/underscore-min.js"></script>
        <script type="application/javascript" src="/static/js/json2.js"></script>
        <script type="application/javascript" src="/static/js/ICanHaz.min.js"></script>
        <script type="application/javascript" src="/static/js/backbone.js-0.9.9-min.js"></script>
        <script type="application/javascript" src="/static/js/musik.js"></script>
    </head>
    <body>
        <div class='wrapper'>
            <header>
                <h1>Musik <small>The world's finest music player</small></h1>

                <nav>
                    <ul class="navigation">
                        <li><a href="javascript:void(0);" id="nowplaying-link">Now Playing</a></li>
                        <li><a href="javascript:void(0);" id="artist-link">Artists</a></li>
                        <li><a href="javascript:void(0);" id="albums-link">Albums</a></li>
                        <li><a href="javascript:void(0);" class="add-media-link">Add Media</a></li>
                        <li><a href="javascript:void(0);" id="search-link">Search</a></li>
                    </ul>

                    <ul class="player-controls">
                        <li><a href="javascript:void(0);" id="playpause-control">Play</a></li>
                        <li><a href="javascript:void(0);" id="skip-control">Skip</a></li>
                    </ul>
                </nav>
            </header>

            <div class='content'>
                <p>This is where the content goes</p>
            </div>

            <footer>
                <p>&copy; <a href="http://github.com/MusikPolice/musik/" class="muted">MusikPolice</a> 2012</p>
            </footer>

            <!--ICanHaz Templates -->
            <script id="currentUser" type="text/html">
                <ul class="current-user">
                    <li><a href='#'>{{ username }}</a></li>
                    <li><a href='#' id="logout">logout</a></li>
                </ul>
            </script>

            <script id="login" type="text/html">
                <div class='login'>
                    <h2>FAILBOATS AWAY!</h2>
                    <p>You&#39;ll need to log in to listen to your tunes.</p>
                    <div class='error' style='display:none;'>
                        <p>Wrong username or password. Try again, Chief.</p>
                    </div>
                    <form>
                        <div>
                            <label for="username">Username:</label>
                            <input id="username" name="username" type="text">
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input id="password" name="password" type="password">
                        </div>

                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <p>If you don&#39;t have an account, <a href='#'>register now</a>.</p>
                </div>
            </script>
        </div>
    </body>
</html>
