
            </div>

            <footer>
                <p>&copy; <a href="http://github.com/MusikPolice/musik/" class="muted">MusikPolice</a> 2012</p>
            </footer>

		</div>

        <script type="text/javascript">
            $(function() {

                //wire up the home button to load that page into the main div
                $("#nowplaying-link").live('click', function()
                {
                    load_content('/main');
                });

                //wire up the artists button to load that page into the main div
                $("#artist-link").live('click', function()
                {
                    load_content('/artists');
                });

                //wire up the albums button to load that page into the main div
                $("#albums-link").live('click', function()
                {
                    load_content('/albums');
                });

                //wire up the import media button to load that page into the main div
                $(".add-media-link").live('click', function()
                {
                    load_content('/importmedia');
                });

                $("#search-link").live('click', function()
                {
                    load_content('/search');
                });

            });
        </script>

    	% for js_file in js_appends:
    		<script type="text/javascript" src="/static/js/${js_file}"></script>
    	% endfor
	</body>
</html>
