
			</div>
			<!-- end main container -->

			<div class="clear"></div>

		</div>

    <!-- always include jquery -->
    <script type="application/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
    <script type="application/javascript" src="/static/js/jquery.listnav.min-2.1.js"></script>
    <script type="application/javascript" src="/static/js/header.js"></script>

    <script type="application/javascript">
        $(function() {

            //wire up the home button to load that page into the main div
            $("#home_menu_button").click(function()
            {
                load_content('/main');
            });

            //wire up the artists button to load that page into the main div
            $("#artists_menu_button").click(function()
            {
                load_content('/artists');
            });

            //wire up the albums button to load that page into the main div
            $("#albums_menu_button").click(function()
            {
                load_content('/albums');
            });

            //wire up the import media button to load that page into the main div
            $("#import_menu_button").click(function()
            {
                load_content('/importmedia');
            });

        });
    </script>

	% for js_file in js_appends:
		<script type="text/javascript" src="/static/js/${js_file}"></script>
	% endfor
	</body>
</html>
