			<h2>Import Media</h2>

			<div id="validate-error-top" class="validate-error grater"></div>

			<div class="grater">
				<p>From this page, you can import all of your precious media files into the musik database.</p>
				<form id="importmedia">
					<p>
						<label for="path">Enter the path to your music directory:</label>
						<input id="path" name="path" type="text">
					</p>

					<button type="submit" class="btn btn-primary">Import Music</button>
				</form>
			</div>

			<!-- status pane -->
			<div id="status" class="grater">
				<h4>Importer Status:</h4>
				<p>Currently importing: <span class="currenttask">Some Task</span></p>
				<p>Remaining tasks: <span class="numtasks">9999</span></p>
			</div>

			<div id="warnings" class="grater">
				<h4>Warnings:</h4>
				<ul>
				</ul>
			</div>

			<div id="errors" class="grater">
				<h4>Errors:</h4>
				<ul>
				</ul>
			</div>

			% for js_file in js_appends:
				<script type="text/javascript" src="/static/js/${js_file}"></script>
			% endfor
