			<h2>Import Media</h2>

			<div class="grater">
				<div>

					<div class="validate-error" id="validate-error-top"></div>

					<form id="importmedia">
						<p>
							<label for="path">Path to music directory</label>
							<input id="path" name="path" type="text">
						</p>

						<button type="submit" class="btn btn-primary">Import Music</button>
					</form>

				</div>

				<div>
					<p>From this page, you can import all of your precious media files into the musik database.</p>
				</div>
			</div>

			% for js_file in js_appends:
				<script type="text/javascript" src="/static/js/${js_file}"></script>
			% endfor

