			<h2>Musik <small>The world's finest music player</small></h2>

            <div id="player" style="display:none;">
                <!-- audio player controls are hidden until audio playback is ready-->
                <a href='#' id='playpause'>Play</a>
                <a href='#' id='shuffle'>Shuffle is on</a>
            </div>

			<p>
				It may not look like much right now, but eventually, this bad boy will be capable of managing and streaming all of your precious media files to you, no matter where you are in the world.
			</p>

			<h3>Try it out:</h3>
			<ul>
				<li><a href="javascript:void(0);" class="add-media-link">Add Media</a></li>
			</ul>
