<script language="JavaScript">
    $(document).ready(function()
    {
        //hook the login button
        var req = {
            username: $('#username').val(),
            password: $('#password').val()
        }
        $('#login button').click(function() {
            $.ajax({
                type: 'POST',
                url: '/login',
                contentType: 'application/json; charset=utf-8',
                data: $.toJSON(req),
                dataType: 'text',
                success: load_content('/main'),
                error: function(jqXHR){
                    alert(jqXHR.responseText);
                }
            });
        });
    });
</script>
<div id='login'>
    <h2>FAILBOATS AWAY!</h2>
    <p>You'll need to log in to listen to your tunes.</p>
    <form>
        <div>
            <label for="username">Username:</label>
            <input id="username" name="username" type="text">
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>If you don't have an account, <a href='#'>register now</a>.</p>
</div>