<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Musik Ember.js App</title>
        <meta name="author" content="MusikPolice">
        <meta name="description" content="An ember.js powered implementation of Musik">

        <link rel="stylesheet" href="/static/styles/reset.css" />
        <link rel="stylesheet" href="/static/styles/musik.css" />
    </head>
    <body>

        <!-- Main Application template. All other templates will be rendered inside of this one -->
        <script type="text/x-handlebars">
            <div class='wrapper'>
                <header>
                    <h1>MUSIK <small>The world&#39;s finest music player</small></h1>

                    <ul class="current-user">
                        {{#if user}}
                            <li><a href='#'>{{ user.username }}</a></li>
                            <li><a href='#' id="logout">logout</a></li>
                        {{else}}
                            <li>{{#linkTo login}}Please log in{{/linkTo}}</li>
                        {{/if}}
                    </ul>

                    <nav class="navigation">
                        <ul class="pages">
                            <li>{{#linkTo nowplaying}}Now Playing{{/linkTo}}</li>
                            <li>{{#linkTo artists}}Artists{{/linkTo}}</li>
                            <li>{{#linkTo albums}}Albums{{/linkTo}}</li>
                            <li>{{#linkTo addmedia}}Add Media{{/linkTo}}</li>
                            <li><a href='#'>Search</a></li>
                        </ul>

                        <ul class="player-controls">
                            <li><a href='#'>Play</a></li>
                            <li><a href='#'>Skip</a></li>
                        </ul>
                    </nav>
                </header>

                <div class='content'>
                    {{outlet}}
                </div>

                <footer>
                    <p>&copy; <a href="http://github.com/MusikPolice/musik/" class="muted">MusikPolice</a> 2012</p>
                </footer>
            </div>
        </script>

        <!-- User Registration template -->
        <script type="text/x-handlebars" data-template-name="register">
            <div class='register'>
                <h2>CREATE A NEW ACCOUNT</h2>
                
                {{#if error}}
                <div class='error'>
                    <p>{{error.message}}</p>
                </div>
                {{else}}
                <p>Enter your credentials below.</p>
                {{/if}}
                
                <form>
                    <div>
                        <label for="username">Username:</label>
                        <input id="username" name="username" type="text">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input id="password" name="password" type="password">
                    </div>
                    <div>
                        <label for="password2">Retype Password:</label>
                        <input id="password2" name="password2" type="password">
                    </div>

                    <button type="submit" class="register">Create</button>
                </form>
                <p>If you already have an account, {{#linkTo login}}log in{{/linkTo}}.</p>
            </div>
        </script>

        <!-- Login Template -->
        <script type="text/x-handlebars" data-template-name="login">
            <div class='login'>
                {{#if error}}
                <h2>FAILBOATS AWAY!</h2>
                <div class='error'>
                    <p>{{error.message}}</p>
                </div>
                {{else}}
                <h2>LOGIN TO LISTEN</h2>
                <p>You&#39;ll need to log in to listen to your tunes.</p>
                {{/if}}

                <form>
                    <div>
                        <label for="username">Username:</label>
                        <input id="username" name="username" type="text">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input id="password" name="password" type="password">
                    </div>

                    <button type="submit" class="login">Login</button>
                </form>
                <p>If you don&#39;t have an account, {{#linkTo register}}register now{{/linkTo}}.</p>
            </div>
        </script>

        <!-- Now Playing page - the currently playing song and queue -->
        <script type="text/x-handlebars" data-template-name="nowplaying">
            <div class='nowplaying'>
                <h2>NOW PLAYING</h2>
                <p>Eventually, this view will show the queue and the currently playing track with large obnoxious artwork.</p>
            </div>
        </script>

        <!-- Artists - shows a list of artists in your library -->
        <script type="text/x-handlebars" data-template-name="artists">
            <div class="artists">
                <h2>ARTISTS</h2>
                <p>This page will show a list of the artists in your library</p>
                <ul class='artists'></ul>
            </div>
        </script>

        <!-- Albums - shows a list of albums in your library -->
        <script type="text/x-handlebars" data-template-name="albums">
            <div class="albums">
                <h2>ALBUMS</h2>
                <p>This page will show a list of the albums in your library</p>
                <ul class='albums'></ul>
            </div>
        </script>

        <!-- Add Media - allows you to add media to your library -->
        <script type="text/x-handlebars" data-template-name="addmedia">
            <div class="addmedia">
                <h2>IMPORT MEDIA</h2>
                <p>Need to add some music to your library? This is the place to do it.</p>

                {{#if error}}
                <div class='error'>
                    <p>{{error.message}}</p>
                </div>
                {{/if}}

                {{#if success}}
                <div class='success'>
                    <p>Hooray!</p>
                </div>
                {{/if}}

                <form id="importmedia">
                    <div>
                        <label for="path">Path:</label>
                        <input id="path" name="path" type="text">
                        <input type="button" class="browse" value="Browse">
                    </div>
                    <button type="submit" class="addmedia">Import Music</button>
                </form>
            </div>
        </script>

        <script src="static/js/libs/jquery-1.9.1.js"></script>
        <script src="static/js/libs/handlebars-1.0.0-rc.3.js"></script>
        <script src="static/js/libs/ember-1.0.0-rc.1.js"></script>
        <script src="static/js/app.js"></script>
    </body>
</html>
