h1 {
    font-size: 2em;
    font-weight: bold;
}

h1 small {
    font-size: 0.75em;
    font-weight: normal;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

a {
    color: #0084B4;
    text-decoration: none;
}

a:hover {
    color: #0084B4;
    text-decoration: underline;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 960px;
}

header {
  border-bottom: 1px solid #eee;
  padding: 0 0 10px 0;
  margin: 10px 0 0 0;
  position: relative;
}

header h1 {
    margin-bottom: 20px;
}

header nav {
    position: relative;
}

header nav li {
  display: inline-block;
  margin-left: 20px;
  text-align: right;
}

header nav ul.navigation li {
  margin-left: 0px;
  margin-right: 20px;
  text-align: left;
}

header nav .player-controls {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

header nav .player-controls a {
  text-align: right;
}

header ul.current-user {
  position: absolute;
  right: 0px;
  top: 0px;
}

header ul.current-user li {
  font-size: 0.8em;
  display: inline-block;
  margin-left: 10px;
  text-align: right;
}

.content {
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 300px;
}

.content .login {
  margin: auto;
  width: 300px;
}
.content .login form {
  margin-bottom: 10px;
}
.content .login form label {
  display: inline-block;
  width: 80px;
}
.content .login form input {
  display: inline;
  margin-top: 10px;
  width: 210px;
}
.content .login form button {
  margin-left: 220px;
  margin-top: 10px;
  width: 80px;
}

.content .register {
  margin: auto;
  width: 320px;
}
.content .register form {
  margin-bottom: 10px;
}
.content .register form label {
  display: inline-block;
  width: 130px;
}
.content .register form input {
  display: inline;
  margin-top: 10px;
  width: 170px;
}
.content .register form button {
  margin-left: 230px;
  margin-top: 10px;
  width: 80px;
}

.content .error {
  background-color: #B25000;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}

footer {
  color: #9A9EA8;
  border-top: 1px solid #eee;
  padding: 10px 0 0 0;
}