body {
	font-family: Arial, sans-serif;
	color: #333;
}

a {
	color: #0084B4;
	text-decoration: none;
}

a:hover {
    color: #0084B4;
    text-decoration: underline;
}

footer {
  color: #9A9EA8;
  border-top: 1px solid #eee;
  padding: 10px 0 0 0;
}

header {
  border-bottom: 1px solid #eee;
  padding: 0 0 10px 0;
  margin: 10px 0 0 0;
}

nav {
	position: relative;
}

nav a {
	margin: 0 15px 0 0;
}

nav #player-controls {
	position: absolute;
	right: 0px;
}

#login {
	margin: auto;
	width: 300px;
}
#login p {
	margin-bottom: 20px;
	margin-top: -10px;
}
#login form label {
	display: inline-block;
	width: 80px;
}
#login form input {
	display: inline;
	margin-top: 10px;
	width: 200px;
}
#login form div {
	margin-top: -10px;
}
#login form button {
	margin-left: 218px;
	width: 80px;
}

div.validate-error {
	background-color: #FB9C8A;
	border: 1px solid #EB8C7A;
	padding: 5px;
	margin-bottom: 10px;
}
