body {
	font-family: Arial, sans-serif;
	color: #333;
}

a {
	color: #0084B4;
	text-decoration: none;
}

a:hover {
    color: #0084B4;
    text-decoration: underline;
}

footer {
  color: #9A9EA8;
  border-top: 1px solid #eee;
  padding: 10px 0 0 0;
}

header {
  border-bottom: 1px solid #eee;
  padding: 0 0 10px 0;
  margin: 10px 0 0 0;
}

nav a {
	margin: 0 15px 0 0;
}

div.validate-error {
	background-color: #FB9C8A;
	border: 1px solid #EB8C7A;
	padding: 5px;
	margin-bottom: 10px;
}
